/data
/exploration_and_preparation/logs
/venv
/~
/train_in_background.md
/model_development/batch_size_experiment
/model_development/full_grid_search
/model_development/optuna
/model_development/results/800k_results.xlsx
