/Data
/Exploration and Preparation/ecg_consistency_log.csv
/Exploration and Preparation/ecg_filled_log.csv
/venv
/~
/Train in background.md
/Model Development/FullGridSearch
/Model Development/HowMuchDataIsEnough
/Model Development/Optuna
/Model Development/BatchSizeExperiment
/Model Development/results/Optuna_Visualizations
/Exploration and Preparation/logs